$earth-size: 100px
$mercury-size: calc($earth-size / 2.6 )
$venus-size: calc($earth-size / 1.1 )
$mars-size: calc($earth-size * 0.53 )
$jupiter-size: calc($earth-size * 11 )
$saturn-size: calc($earth-size * 9.45 )
$uranus-size: calc($earth-size * 4 )
$neptune-size: calc($earth-size * 3.88 )
