@use "../abstract/_variables.sass" as var

.planet
    background: red
    border-radius: 100%

    &.planet--mercury
        width: var.$mercury-size
        heigth: var.$mercury-size
        background: yellow

    &.planet--venus 
        width: var.$venus-size
        height: var.$venus-size
        background: purple

    &.planet--earth
        width: var.$earth-size
        height: var.$earth-size

