@use "../abstract/_all" as abstracts

.galaxy
    background-color: darkgrey
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    gap: abstracts.$gap-between-planets
    margin-left: calc(50vw - (abstracts.$sun-size / 2))